.banner-slide {
    animation-name: bannerSlided;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation-duration: 20s;
    animation-timing-function:cubic-bezier(0.65, 0.05, 0.36, 1);
    animation-delay: 2s;
    animation-iteration-count:1;
}

@keyframes bannerSlide {
    0%{
        margin-left: 0%;
    }
    25% {
        margin-left: -100%;
    }
    35% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }
    60% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }
    85% {
        margin-left: -300%;
    }
    100% {
        margin-left: 0%;
    }
}